body {
  font-family: Tahoma, Geneva, sans-serif;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
/*HEADER*/
.logo  {
  float: left;
  margin: 11px 0 0 28px;
}
.logo img {
  display: block;
  width: 283px;
}
.contacts {
  float: right;
}
.countries {
  float: right;
  clear: right;
  font-size: 10px;
  margin: 29px 26px 0 0;
}
.contacts {
  font-size: 12px;
  color: #128aa7;
  line-height: 1.55;
  margin: 7px 34px 0 0;
}
.contacts p:first-child {
  font-weight: bold;
}
.contacts a {
  color: #128aa7;
  text-decoration: none;

}
.countries a {
  float: left;
  display: block;
  width: 57px;
  text-align: center;
}
.countries span {
  display: inline-block;
  padding: 2px 0 0 0;
  text-decoration: underline;
  color: #128aa7;
}
.countries span:hover {
  text-decoration: none;
}
